{% extends 'posts/base.html' %}
{% load static %}
{% block title %}Submit A Report On Privalise!, Where Everything Is Awesome{% endblock title %}
{% block content %}
<div class="mx-auto">
  <form method="POST" enctype='multipart/form-data' id='forms'>

    {% csrf_token %}
    <div class="alert alert-warning content">
      <h2 for="basic-url" class="text-lg">Submittng A Report</h2>
      <ul>
        <li>To Submit A Report YOU MUST ADD YOUR PUBLIC KEY & FINGERPRINT IN THE SETTINGS</li>
        <li>You MUST SIGN THE REASON WITH YOUR PRIVATE KEY</li>
        <li>You Must Have A Good Reason For Reporting</li>
        <li>If You Reported Three False Reports Your Account Will Get Blocked</li>
      </ul>
        <small>You Can Also Provide A Link To A Screenshot </small>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">Reporting A Post By:</span>
      <input type="text" value="{{post.author.username}}" class="Disabled form-control readonly input" name="name" aria-label="Disabled input example" disabled readonly>
    </div>

    <div class="input-group">
      <span class="input-group-text"><i class="fas fa-info"></i></span>
      <textarea class="form-control" rows="10" aria-label="With textarea" name="reason" placeholder="Your bio">Why Are You Reporting This Post? (Your PGP Signature Is Required)</textarea>
    </div>
    
    <br/>

    <center>
      {{ver.captcha}}
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </center>
  
  </form>       
{% endblock content %} 