{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <center>
      <div class='post-creation'>
        <br/>
        <form class='post-create'  method="POST">
            {% csrf_token %}
            {{ form|crispy }}<br/>
            <button type='submit' class='btn btn-primary'>Publish</button>
        </form>
    </div></center>
    </div>
    <div class="col">
        <br/>
      <h2>Hello Friend,</h2><br/>
      <h3>Are You Wondring What Should You Write About?</h3>
      <h3>well, Fear not!. here are some suggestions:</h3>
      <ul>
          <h3><li>Technology</li></h3>
          <h3><li>Politics</li></h3>
          <h3><li>Freedom Of Speech</li></h3>
          <h3><li>Your Ex ;)</li></h3>
      </ul>
    </div>
  </div>
</div>
{% endblock %}




