{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create A New Post On Privalise!, Where Everything Is Awesome{% endblock title %}

{% block content %}
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
        <center>
      <div class='post-creation'>
        <br/>
        <form method='POST'>
          {% csrf_token %}
          <textarea name="content" class="form-control" style="width: 100%;" cols="100" rows="7" placeholder="Post Human!"></textarea><br/>
          <button class="btn btn-primary">Post</button>
        </form><br/>
    </div></center>
    </div>
    <div class="col-sm-4">
        <br/>
      <h2>Hello Friend,</h2><br/>
      <h3>Are You Wondring What Should You Write About?</h3>
      <h3>well, Fear not!. here are some suggestions:</h3>
      <ul>
          <h3><li>Technology</li></h3>
          <h3><li>Politics</li></h3>
          <h3><li>Freedom Of Speech</li></h3>
          <h3><li>Your Ex ;)</li></h3>
      </ul>
    </div>
  </div>
</div>
{% endblock %}




