{% extends 'posts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{post.author}}'s Post On Privalise!, Where Everything Is Awesome{% endblock title %}
{% block content %}
  <main class="content mx-auto container-fluid">
    <div class="mx-auto logo-text">
      <div>Priva<span>Lise</span></div>
    </div>
    {% if messages %}
       {% for message in messages %}
          <div class="alert alert-{{ message.tags }} content">{{ message }}</div>
       {% endfor %}
    {% endif %}
    <center>
      <br/>
      <div class="post" style="text-align: left;">
        <div class="profile-container">
          <img class="profile-picture post-img" src="{{ post.author.profile.image.url }}">
        </div>

        <div class="post-content">
          <div class="post-info">
            <div class="post-info1">
              <a class="username" href="{% url 'profile' post.author %}">@{{ post.author }}</a>
              <p class="date">{{ post.date_posted }}</p>
            </div>
          </div>
          <div class="post-text tags-id mentions-id">
            <p>{{ post.content|safe }}</p>
          </div>
        </div>  
      </div>
      
      <div class="post" style="background-color: var(--light-post-bg); text-align: left;">
        <form method='POST'>
          {% csrf_token %}
          <textarea name="content" class="form-control" style="width: 100%;" cols="100" rows="7" placeholder="Comment Human!"></textarea><br/>
          <button class="btn btn-primary">Post</button>
        </form>
      </div>
      <br/>
      <div class="post" style="background-color: var(--light-post-bg); text-align: left;">
        <h2 style="color: black;">{{ commentcount }} Comments!</h2>
      </div>
      {% for comment in comments %}
        <div  class="post">
          <div class="profile-container">
            <img class="profile-picture post-img" src="{{ comment.author.profile.image.url }}">
          </div>

          <div class="post-content">
            <div class="post-info">
              <div class="post-info1">
                <a class="username" href="{% url 'profile' comment.author %}">@{{ comment.author }}</a>
                <p class="date">{{ comment.date_created }}</p>
              </div>
            </div>
            <div class="post-text" style="text-align: left;">
              <p>{{ comment.content }}</p>
            </div>
          </div>  
        </div>
      {% endfor %}
    </center>
  </main>
{% endblock content %}