{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>
<main class="mx-auto">
    <div class='profile'>
        <div class="picture-container">
            <img class="profile-picture" src="{{ user.profile.image.url }}">
        </div>
        <h2 class='account-heading'>{{ user.username }}</h2>
        <h2 class='text-secondary'>{{ profile.name }}</h2>
        <p>{{ profile.bio }}</p>
        
    </div>
    <div class="mx-auto">
 <form method="POST" enctype='multipart/form-data' id='forms'>
        {% csrf_token %}
        <filedset class='form-group settings'>
        
    <div class="container">
      <div class="row">
        <div class="col">
         {{ u_form|crispy }}<br/>
         <button type="submit" class="btn btn-outline-info">Update Info</button>
         <a href="{% url 'password-change' %}" class='btn btn-outline-info'>Change Password !</a>
        </div>
        <div class="col">
        {{ p_form|crispy }}
        </div>
      </div>
        
        <br/>
        
        </fieldset>

   </form></div>
</main>
{% endblock content %} 