{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Login To Privalise</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/captcha.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/my-login.css' %}">
	<link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>

<body class="my-login-page bg-dark">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/forge.min.js' %}"></script>
	<script>
		$(function() {
			$('#login').click(function() {
				var md = forge.md.sha512.create();
				md.update(document.getElementById('password'));
				document.cookie = "key=" + md.digest().toHex() + "; path=/;";
			});
		});
	</script>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper w-auto">
					<div class="brand">
						<img src="{% static 'img/placeholder.png' %}" alt="logo">
					</div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} content">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login To Privalise</h4>
							<form method="POST" class="my-login-validation" novalidate="">
                                {% csrf_token %}
                                {% if 2fa %}
                                <div class="form-group mb-2">
                                <label for="pgp">Decrypt This Message <i class="fas fa-key"></i></label>
                                    <textarea style="color: black;" id="pgp" class="form-control text-wrap text-break" placeholder="PGP Message" cols='35' rows="11" name="2fa" autofocus required>{{msg}}</textarea>
                                </div>
                                <div class="form-group mb-2">
									<label for="2facode">2FA Code <i class="fas fa-check-circle"></i></label>
									<input id="2facode" type="number" placeholder="Your 2FA Code" class="form-control" name="2facode" required>
								</div>
                                {% endif %}
								<div class="form-group mb-2">
									<label for="password">Password <i class="fas fa-lock"></i></label>
									<input id="password" type="password" placeholder="Your Password" class="form-control" name="password" value="" required autofocus>
								</div>

								<div class="form-group mb-2 gap-2 img-thumbnail captcha">
									{{ver.captcha}}
								</div>

								<div class="form-group m-0">
									<button type="submit" id="login" style="margin-top: 6px;" class="btn btn-primary btn-block">
										Login
									</button>
								</div>
								<div class="mt-4 text-center">
									Don't have an account? <a href="{% url 'register' %}" class="btn btn-outline-primary">Create One</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <script>
		document.getElementsByName('captcha_1')[0].placeholder = "Verify You're A Human";
	</script>
	<script src="{% static 'js/jquery.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
	<script src="{% static 'js/my-login.js' %}"></script>
</body>
</html>
