{% extends 'users/base.html' %}
{% block title %}Register On Privalise{% endblock title %}
{% block content %}
<div class="w-auto content">
    <form method="POST" class="form-inputs" style="margin: 0">
        <div style="color:white;">
            <div>   
                {% csrf_token %}
                {% if 2fa %}
                Decrypt This Message:
                <textarea style="color: black;" class="textinput textInput form-control" placeholder="PGP Message" cols='5' rows="11" name="2fa" autofocus required>{{msg}}</textarea><br>
                <input id="id_password" style="color: white;" class="textinput textInput form-control" placeholder="2FA Code" type="number" name="2facode" required />
                {% endif %}
                <input id="id_password" style="color: white;" class="textinput textInput form-control" placeholder="Password" type="password" name="password" required />
                {{ver.captcha}}
                <button type="submit" class="btn btn-outline-info">Log In</button>
                <h3>  Don't Have An Account? <a href="{% url 'register' %}" style="color: cyan;">Register</a></h3>
            </div>
            <br>
        </div>
    </form>
</div>
{% endblock content %}