{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Login To Privalise</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/captcha.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/my-login.css' %}">
	<link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>

<body class="my-login-page bg-dark">
	<script src="{% static 'js/libraries/jsencrypt.min.js' %}"></script>
	<script src="{% static 'js/libraries/jquery.min.js' %}"></script>
	<script src="{% static 'js/libraries/forge.min.js' %}"></script>
	<script type="text/javascript">
		$(function() {
			$('#signup').click(function() {
				var encrypt = new JSEncrypt();
				var crypt = new JSEncrypt({default_key_size: 2048});
				var PublicPrivateKey = {PublicKey: crypt.getPublicKey(), PrivateKey:crypt.getPrivateKey()};
				var md = forge.md.sha512.create();
				md.update(document.getElementById('password1').value);
				document.cookie = "key=" + md.digest().toHex() + "; path=/;";
				var pki = forge.pki;
				var privateKey = pki.privateKeyFromPem(PublicPrivateKey.PrivateKey);
				var pem = pki.encryptRsaPrivateKey(privateKey, '' + md.digest().toHex());
				document.getElementById('privkey').value = pem;
				document.getElementById('pubkey').value = PublicPrivateKey.PublicKey;
			});
		});
	</script>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="{% static 'img/placeholder.png' %}" alt="logo">
					</div>
					{% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} content">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Register To Privalise</h4>
							<form method="POST" class="my-login-validation" novalidate="">
								{% csrf_token %}
								<div class="form-group mb-2">
									<label for="username">Username <i class="far fa-user"></i></label>
									<input id="username" type="text" placeholder="Your Username" class="form-control" name="username" value="" required autofocus>
								</div>
								<div class="form-group mb-2">
									<label for="password1">Password <i class="fas fa-user-shield"></i></label>
									<input id="password1" type="password" placeholder="Your Password" class="form-control" name="password1" value="" required>
								</div>
								<div class="form-group mb-2">
									<label for="confpass">Confirm Password <i class="fas fa-user-shield"></i></label>
									<input id="confpass" type="password" placeholder="Confirm Your Password" class="form-control" name="password2" value="" required>
								</div>
								<input id="pubkey" type="hidden" value="" name="publickey">
								<input id="privkey" type="hidden" value="" name="privatekey">
								<div class="form-group mb-2 img-thumbnail captcha">
									{{ver.captcha}}
								</div>

								<div class="form-group m-0">
									<button type="submit" id="signup" style="margin-top: 6px;" class="btn btn-primary btn-block">
										Signup
									</button>
								</div>
								<div class="mt-4 text-center">
									Already have an account? <a href="{% url 'login' %}" class="btn btn-outline-primary">Login Already</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		document.getElementsByName('captcha_1')[0].placeholder = "Verify You're A Human";
	</script>
	<script src="{% static 'js/libraries/jquery.min.js' %}"></script>
	<script src="{% static 'js/libraries/bootstrap.bundle.js' %}"></script>
	<script src="{% static 'js/login/my-login.js' %}"></script>
</body>
</html>