{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/logo.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/post.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile/page.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    
    <style type="text/css">

      #hashLink
      {
       display: none;
      }

      #hashLink:target
      {
       display: block;
      }

      #createapost
      {
       display: none;
      }

      #createapost:target
      {
       display: block;
      }

      #sharepost
      {
       display: none;
      }

      #sharepost:target
      {
       display: block;
      }

      #editpost
      {
       display: none;
      }

      #editpost:target
      {
       display: block;
      }

      #confirmdeletepost
      {
       display: none;
      }

      #confirmdeletepost:target
      {
       display: block;
      }

      .dropdown
      {
        position: relative;
        display: inline-block;
      }

      .dropdown-content
      {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-content a
      {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown-content a:hover
      {
        background-color: #f1f1f1
      }

      .dropdown:hover .dropdown-content
      {
        display: block;
      }

      .dropdown:hover .dropbtn
      {
        background-color: #3e8e41;
      }
    </style>
  </head>
  <body id="body" class="dark">
    
    <nav id="navbar" class="navbar dark">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a href="{% url 'about' %}" class="nav-link">
            <img id="logo" class="icon" src="{% static 'img/placeholder.png' %}">
            <span class="link-text">About Privalise!</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link">
            <img src="{% static 'img/home_black.png' %}" alt="Home link icon">
            <span class="link-text">Home</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'post-create' %}" class="nav-link" data-bs-toggle="modal" data-bs-target="#postcreatemodal">
            <img src="{% static 'img/pencil.png' %}" alt="Home link icon">
            <span class="link-text">Create Post</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'search' %}" class="nav-link"  data-bs-toggle="modal" data-bs-target="#searchmodal">
            <img src="{% static 'img/search_black.png' %}" alt="Search link icon">
            <span class="link-text">Search</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'notifications-list' %}" class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#notificationsoffcanvas" aria-controls="offcanvasRight">
              <div class="position-relative"><img src="{% static 'img/bell_black.png' %}" alt="Notifications link icon"><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{request.user.notification_to.count}}
                <span class="visually-hidden">unread notifications</span>
              </span>
            </div>

            <span class="link-text">Notifications</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'profile' request.user %}" class="nav-link">
            <img src="{% static 'img/user_black.png' %}" alt="Profile link icon">
            <span class="link-text">Profile</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'messages-list' %}" class="nav-link">
            <img src="{% static 'img/message_black.png' %}" alt="Profile link icon">
            <span class="link-text">Messages</span>
          </a>
        </li>


        <li class="nav-item">
          <a href="{% url 'more' %}" class="nav-link">
            <img src="{% static 'img/bars.png' %}" alt="More link icon">
            <span class="link-text">More</span>
          </a>
        </li>

      </ul>
    </nav>
<div class="modal fade" id="searchmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bg-transparent modal-dialog-centered">
    <div class="modal-content bg-transparent">
      <div class="modal-body bg-transparent">
        <form method="GET" action="{% url 'search-results' %}">
          <div class="input-group" style="margin: 0 auto;">
              <input type="text" class="form-control form-control-lg" placeholder="Search Content" name="query" value="{{ request.GET.query }}">
              <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
<form method='POST' action="{% url 'post-create' %}">
  <div class="modal fade" id="postcreatemodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog text-light modal-dialog-centered">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create A Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body">
        {% csrf_token %}
        {% if post %}
        <textarea name="content" class="form-control" style="width: 100%;" cols="100" rows="7" placeholder="Post Human!">{{ content }}</textarea><br/>
        {% else %}
        <textarea name="content" class="form-control" style="width: 100%;" cols="100" rows="7" placeholder="Post Human!"></textarea><br/>
        {% endif %}
        <center>
        {{ver.captcha}}
        <br/>
      </center>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Post</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>
    <div class="offcanvas bg-dark offcanvas-end" tabindex="-1" id="notificationsoffcanvas" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">You have {{request.user.notification_to.count}} Notifications</h5>
        <button type="button" class="btn-close text-reset text-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        {% for notification in request.user.notification_to.all %}
        {% if notification.post %}
        {% if notification.notification_type == 1 %}
        <div class="container">
          <a style="text-decoration: inherit;" href="{% url 'post-notification' notification.id notification.post.id %}">
            <div class="container-fluid" style="text-align: center;">
              <div class="post-text tags-id mentions-id">
                @{{ notification.from_user }} liked your post
                <a class="btn btn-outline-danger" style="margin-left: 18px;" href="{% url 'notification-delete' notification.id %}">DELETE</a>
              </div>
            </div>
            </a>	
        </div>
        {% elif notification.notification_type == 2 %}
        <div class="container bg-light">
          <a style="text-decoration: inherit;" href="{% url 'post-notification' notification.id notification.post.id %}">
            <div class="post container-fluid" style="text-align: center;">
              <div class="post-text tags-id mentions-id">
                @{{ notification.from_user }} Commented On your post
                <a class="btn btn-outline-danger" style="margin-left: 18px;" href="{% url 'notification-delete' notification.id %}">DELETE</a>
              </div>
            </div>
            </a>	
        </div>
        {% endif %}
      {% elif notification.comment %}
        {% if notification.notification_type == 1 %}
          <div class="container bg-light">
            <a style="text-decoration: inherit;" href="{% url 'post-notification' notification.id notification.comment.post.id %}">
              <div class="post container-fluid" style="text-align: center;">
                <div class="post-text tags-id mentions-id">
                  @{{ notification.from_user }} liked your comment
                  <a class="btn btn-outline-danger" style="margin-left: 18px;" href="{% url 'notification-delete' notification.id %}">DELETE</a>
                </div>
              </div>
              </a>	
            </div>
        {% elif notification.notification_type == 2 %}
          <div class="container bg-light">
            <a style="text-decoration: inherit;" href="{% url 'post-notification' notification.id notification.comment.post.id %}">
              <div class="post container-fluid" style="text-align: center;">
                <div class="post-text tags-id mentions-id">
                  @{{ notification.from_user }} Replied To your comment
                  <a class="btn btn-outline-danger" style="margin-left: 18px;" href="{% url 'notification-delete' notification.id %}">DELETE</a>
                </div>
              </div>
              </a>	
            </div>
          {% endif %}
        {% else %}
             <div class="container bg-light">
            <a style="text-decoration: inherit;" href="{% url 'follow-notification' notification.id notification.from_user.username %}">
              <div class="post container-fluid" style="text-align: center;">
                <div class="post-text tags-id mentions-id">
                  @{{ notification.from_user }} Has Started Following You								<a class="btn btn-outline-danger" style="margin-left: 18px;" href="{% url 'notification-delete' notification.id %}">DELETE</a>
                </div>
              </div>
              </a>	
            </div>
      {% endif %}
      {% if request.user.notification_to.count == 0 %}
      <h2>Uhmm, Try To Be More Interesting! &#128513;</h2>
      {% endif %}
        {% endfor %}
        <a href="{% url 'notifications-list' %}">View All Notifcations Here.</a>
      </div>
    </div>
    <main class="container-fluid mx-auto content">
      <div class="logo-text mx-auto">
        <div>Priva<span>Lise</span></div>
      </div>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} content">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% if request.user.profile.debosited == False %}
      <div class="alert alert-warning content">Your Account Is Deactivated, You Won't Be Able Enjoy The Platform, Please Activate It <a href="{% url 'complete-profile' %}">HERE</a></div>
      {% endif %}
      <br/>
        {% block content %}
        {% endblock content %}
    </main>
    <script src="{% static 'js/libraries/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
