{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Complete Your Profile On Privalise!, Where Everything Is Awesome{% endblock title %}
{% block content %}
<div class="w-auto">
  <form method="POST" action="{% url 'conf-deposit' addr %}" enctype='multipart/form-data' id='forms'>
    <div class="alert alert-success content text-break text-wrap">
      <h2 style="text-align: center;">Look At That You've An Account <i class="fas fa-joy"></i></h2>
      <h4 style="text-align: left;">here are some notes! <i class="fas fa-laugh-wink"></i></h4>
      <ul style="text-align: left;">
        <li>Add a public key and a fingerprint in your <a href="{% url 'profile-update' %}">settings</a></li>
        <li>Add a monero address so users can tip you ;)</li>
        <li>Enable 2FA ;)</li>
        <li>follow fellow humans :D</li>
        <li>start posting and participating</li>
      </ul>
      <h2>You need to deposit at least 0.004 XMR to be able to interact on the website</h2>
    </div> 

    <div class="alert alert-warning content">
      <h1>You Need To Deposit At Least 0.004 XMR</h1>

      <h5>Send To The Following Address:</h5>
      <input class="form-control user-select-all" type="text" value="{{addr}}" aria-label="Disabled input example" required disabled readonly>
      <br/>
      
      <div class="input-group mb-3">
        <span class="input-group-text">XMR</span>
        <input type="text" placeholder="how much did you send" name="amount" class="form-control" required aria-label="Amount (In XMR)">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">TX Hash</span>
        <input placeholder="the transaction hash" required type="text" class="form-control" name="txhash" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Done!</button>
      </div>
    </div>
  </form>
</div>       
{% endblock content %} 