{% extends 'posts/base.html' %}
{% load post_extras %}
{% block title %}Your Messages On Privalise!, Where Everything Is Awesome{% endblock title %}
{% block content %}
<script>
    function getCookie(cname) 
    {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    if (getCookie('key') == '') {
        window.location.replace("{% url 'set-key' %}");
    }
</script>
<center>
    <form method="GET" action="{% url 'messages' %}">
        <div class="input-group mb-3" style="margin: 0 auto;">
            <input type="text" class="form-control form-control-lg" placeholder="Message Someone" aria-label="Username" name="username">
            <button class="btn btn-primary" type="submit">Message</button>
        </div>
    </form>
</center>
<div class="container">
    <center><h2>Your End-To-End Encrypted Messages <i class="fas fa-inbox"></i></h2></center>
    <div class="row w-50">
        {% for partner in partners.partners.all %}
            <div class="col-sm" style='margin-bottom:7px;'>
                <div class="card bg-dark w-100" style="width: 18rem; margin-bottom: 4px;">
                    <img src="{{ partner.profile.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">@{{partner.username}}</h5>
                    <p class="card-text">{{partner.profile.bio|slice:":120"}}</p>
                    <a href="{% url 'messages' %}?username={{partner.username}}" class="btn btn-primary">Message</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}