{% extends 'posts/base.html' %}
{% load post_extras %}
{% load static %}
{% block title %}Your Messages On Privalise!, Where Everything Is Awesome{% endblock title %}
{% block content %}
<script src="{% static 'js/jsencrypt.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/forge.min.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#sendmsg').click(function() {
          var encrypt = new JSEncrypt();
          encrypt.setPublicKey(`{{pubkey}}`);
          var encrypted = encrypt.encrypt($('#contentmsg').val());
          document.getElementById('encmsg').innerHTML = encrypted;
        });
    });
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function decryptkey(password) {
        var pki = forge.pki;
        var privateKey = pki.decryptRsaPrivateKey(`{{privkey}}`, password);
        var pem = pki.privateKeyToPem(privateKey);
        return pem
    }
    var plainprivkey = decryptkey(getCookie('key'));
</script>
<div class="w-100">
    {% for msg in msgs %}
        {{msg.msg}}
    {% endfor %}
</div>
<form method="POST" class="w-100">
    {% csrf_token %}
    <div class="input-group mb-3" style="margin: 0 auto;">
        <input type="text" class="form-control form-control-lg" placeholder="Type Your Message" id='contentmsg'>
        <button class="btn btn-primary" type="submit" id='sendmsg'><i class="fas fa-paper-plane"></i></button>
        <textarea id="encmsg" name="msgcontent" style="display: none;"></textarea>
    </div>
</form>
{% endblock %}