{% extends 'posts/base.html' %}
{% load post_extras %}
{% block title %}Search Posts And Users On Privalise!, Where Everything Is Awesome{% endblock title %}
{% block content %}
<center>
    <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3" style="margin: 0 auto;">
          {% if content %}
            <textarea class="form-control form-control-lg" placeholder="NOTE BODY (420 Characters MAX)" cols="55" rows="6" aria-label="Username" name="content">{{content}}</textarea>
          {% else %}
            <textarea class="form-control form-control-lg" placeholder="NOTE BODY (420 Characters MAX)" cols="55" rows="6" aria-label="Username" name="content"></textarea>
          {% endif %}
            <button class="btn btn-primary" type="submit">Save <i class="fas fa-save"></i></button>
        </div>
    </form>
</center>
<div class="container">
    <div class="row">
        <center><h2>Your End-To-End Encrypted Notes <i class="fas fa-list-alt"></i></h2></center>
        {% for note in notes %}
            <div class="col-sm" style='margin-bottom:7px;'>
                <div class="card bg-dark" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@{{request.user.username}}</h5>
                        <p class="card-text">{{note}}</p>
                        <a href="#" class="card-link">Open</a>
                        <a href="#" class="card-link">Remove</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
