{% extends 'posts/base.html' %}
{% block title %}@{{ user.username }} Latest Notifications, On Privalise{% endblock title %}
{% block content %}
<main class="w-100 container-fluid mx-auto content">
	<div class="logo-text">
	  <div>Priva<span>Lise</span></div>
	</div>
	{% if messages %}
	     {% for message in messages %}
	        <div class="alert alert-{{ message.tags }} content">{{ message }}</div>
	     {% endfor %}
	  {% endif %}
	  	<br/>
	<strong style="margin-bottom: 12px;" >YOU HAVE {{ notifications.count }} NOTIFICATION{{ notifications.count|pluralize }}<br/></strong>
	<section class="post w-auto">
		{% for notification in notifications %}
		{% if notification.post %}
			{% if notification.notification_type == 1 %}
			<div class="container">
				<a style="text-decoration: inherit;" href="{% url 'post-notification' notification.id notification.post.id %}">
					<div class="post container-fluid" style="text-align: center;">
						<div class="post-text tags-id mentions-id">
							@{{ notification.from_user }} liked your post
							<a class="btn btn-outline-danger" style="margin-left: 18px;" href="{% url 'notification-delete' notification.id %}">DELETE</a>
						</div>
					</div>
			    </a>	
			</div>
			{% elif notification.notification_type == 2 %}
				<div class="container">
				<a style="text-decoration: inherit;" href="{% url 'post-notification' notification.id notification.post.id %}">
					<div class="post container-fluid" style="text-align: center;">
						<div class="post-text tags-id mentions-id">
							@{{ notification.from_user }} Commented On your post
							<a class="btn btn-outline-danger" style="margin-left: 18px;" href="{% url 'notification-delete' notification.id %}">DELETE</a>
						</div>
					</div>
			    </a>	
			</div>
			{% endif %}
		{% elif notification.comment %}
			{% if notification.notification_type == 1 %}
				<div class="container">
					<a style="text-decoration: inherit;" href="{% url 'post-notification' notification.id notification.comment.post.id %}">
						<div class="post container-fluid" style="text-align: center;">
							<div class="post-text tags-id mentions-id">
								@{{ notification.from_user }} liked your comment
								<a class="btn btn-outline-danger" style="margin-left: 18px;" href="{% url 'notification-delete' notification.id %}">DELETE</a>
							</div>
						</div>
				    </a>	
			    </div>
			{% elif notification.notification_type == 2 %}
				<div class="container">
					<a style="text-decoration: inherit;" href="{% url 'post-notification' notification.id notification.comment.post.id %}">
						<div class="post container-fluid" style="text-align: center;">
							<div class="post-text tags-id mentions-id">
								@{{ notification.from_user }} Replied To your comment
								<a class="btn btn-outline-danger" style="margin-left: 18px;" href="{% url 'notification-delete' notification.id %}">DELETE</a>
							</div>
						</div>
				    </a>	
			    </div>
		    {% endif %}
	    {% else %}
           <div class="container">
					<a style="text-decoration: inherit;" href="{% url 'post-notification' notification.id notification.from_user.username %}">
						<div class="post container-fluid" style="text-align: center;">
							<div class="post-text tags-id mentions-id">
								@{{ notification.from_user }} Has Started Following You								<a class="btn btn-outline-danger" style="margin-left: 18px;" href="{% url 'notification-delete' notification.id %}">DELETE</a>
							</div>
						</div>
				    </a>	
			    </div>
		{% endif %}
		{% endfor %}
		<center>
		{% if notificationscount == 0 %}
		<h2>Uhmm, Try To Be More Interesting!</h2>
		{% else %}
			{% if notifications.has_previous %}
			    <a href="?page={{notifications.previous_page_number}}" class="btn btn-outline-info"><</a>
			{% endif %}
			<span class="btn btn-primary">{{notifications.number}}</span>  
			{% if notifications.has_next %}
			    <a href="?page={{notifications.next_page_number}}" class="btn btn-outline-info">></a>
			{% endif %}
		{% endif %}
		</center>
	</section>
</main>
{% endblock content %}