{% extends 'posts/base.html' %}
{% load post_extras %}
{% load static %}
{% block title %}Privalise!, Where Everything Is Awesome{% endblock title %}
{% block content %}

    <div class="container post-list">
		{% if request.user.profile.debosited == True %}
    	<center>
    		<a class="btn btn-primary" style="width: 100%; margin-bottom: 10px;" href="#createapost">Create A Post</a>
	        <div class='post-creation' id="createapost">
	          <br/>
	          <form method='POST' action="{% url 'post-create' %}">
	            {% csrf_token %}
	            <textarea name="content" class="form-control" style="width: 100%;" cols="100" rows="7" placeholder="Post Human!"></textarea><br/><br/>
	            <div class='captcha-div'>{{ver.captcha}}</div>
	            <button class="btn btn-primary" style="margin-top: 9px;">Post</button>
	            <a href="#" class="btn btn-danger" style="margin-top: 9px;">Cancel</a>
	          </form>
	          <br/>
	        </div>
        </center>
		{% endif %}
		{% include 'posts/post.html' %}
{% endblock content %}