{% extends 'posts/base.html' %}
{% load static %}
{% load post_extras %}
{% load crispy_forms_tags %}
{% block title %}{{post.author}}'s Post On Privalise!, Where Everything Is Awesome{% endblock title %}
{% block content %}
  <main class="content mx-auto container-fluid">
    <div class="mx-auto logo-text">
      <div>Priva<span>Lise</span></div>
    </div>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} content">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <center>
      <br/>
      <div class="post" style="text-align: left;">
          <div class="picture-containers">
              <img class="profile-picture post-img" src="{{ post.author.profile.image.url }}">  
          </div>
        <div class="profile-container">
        </div>

        <div class="post-content">
          <div class="post-info">
            <div class="post-info1">
              <a class="username" href="{% url 'profile' post.author %}">@{{ post.author }}</a>
              <p class="date">{{ post.date_posted }}</p>
            </div>
          </div>

          <div class="post-text">
            <p>{{ post.content|convert_markdown|safe }}</p>
            {% if request.user == post.author %}
              <button class="btn btn-primary">{{post.likes.count}} Upvotes</button>
                <div class="dropdown" style="margin-bottom: 6px;">
                  <button class="btn btn-outline-info">Actions</button>
                  <div class="dropdown-content">
                    <a href="#confirmdeletepost">Delete</a>
                    <a href="#editpost">Edit</a>
                    <a href="#sharepost">Share</a>
                  </div><br>
                </div>
                <p id="confirmdeletepost">
                <a style="margin-top: 5px;" href="{% url 'post-delete' post.id %}" class="btn btn-danger">
                  Confirm Delete
                </a>
                <a href="#" style="margin-left: 5px; margin-top: 5px;"  class="btn btn-primary">
                  Safe My Post
                </a>
              </p>
              <p id="sharepost">
                <a class="btn btn-outline-info" href="{% url 'post-detail' post.id %}">Copy This</a>
                <a class="btn btn-outline-danger" href="#">Done</a>
              </p>
              <div id="editpost">
                <form method="POST" action="{% url 'post-update' post.id %}">
                  {% csrf_token %}
                  <textarea name="content" class="form-control" style="width: 100%; margin-bottom: 6px;" cols="10" rows="7" placeholder="Post Human!">{{post.content}}</textarea>
                  <button type="submit" class="btn btn-primary">
                    Publish
                  </button>
                  <a href="#" style="margin-left: 5px;"  class="btn btn-primary">
                    Cancel
                  </a>
                </form>
              </div>

            {% else %}
                <a style="width: 60px; height: 35%;" href="{% url 'add-like' post.id %}" class="btn btn-primary"><i class="fas fa-kiss-wink-heart"></i></a>
                <button class="btn btn-outline-info" style="margin: 5px;">{{ likes }}</button>
                <a style="width: 60px; height: 35%;" href="{% url 'add-dislike' post.id %}" class="btn btn-danger"><i class="fas fa-hand-middle-finger"></i></a>
            {% endif %}
          </div>
        </div>  
      </div>
      
      <div class="post" style="background-color: var(--light-post-bg); text-align: left;">
        <form method='POST'>
          {% csrf_token %}
          <textarea name="content" class="form-control" style="width: 100%;" cols="100" rows="7" placeholder="Comment Human!"></textarea><br/>
          <button class="btn btn-primary">Post</button>
        </form>
      </div>
      <br/>
      <div class="post" style="background-color: var(--light-post-bg); text-align: left;">
        <h2 style="color: black;">{{ commentcount }} Comments!</h2>
      </div>
      {% for comment in comments %}
        <div  class="post" id="{{comment.id}}">
          <div class="picture-containers">
            <img class="profile-picture post-img" src="{{ comment.author.profile.image.url }}">
          </div>
          <div class="profile-container">
          </div>

          <div class="post-content">
            <div class="post-info">
              <div class="post-info1">
                <a class="username" href="{% url 'profile' comment.author %}">@{{ comment.author }}</a>
                <p class="date">{{ comment.date_created }}</p>
              </div>
            </div>
            <div class="post-text" style="text-align: left;">
              <p>{{ comment.content|convert_markdown|safe }}</p>
              {% if request.user == comment.author %}
                 <style type="text/css">
                    #editcomment{{comment.id}}:target 
                    {
                      display: block;
                    }
                    #editcomment{{comment.id}} 
                    {
                     display: none;
                    }
                    #confirmdeletecomment{{comment.id}} 
                    {
                     display: none;
                    }
                    #confirmdeletecomment{{comment.id}}:target 
                    {
                     display: block;
                    }
                    #sharecomment{{comment.id}} 
                    {
                     display: none;
                    }

                    #sharecomment{{comment.id}}:target 
                    {
                     display: block;
                    }
                 </style>
                <button class="btn btn-primary">{{comment.likes.count}} Upvotes</button>
                <div class="dropdown" style="margin-bottom: 6px;">
                  <button class="btn btn-outline-info">Actions</button>
                  <div class="dropdown-content">
                    <a href="#confirmdeletecomment{{comment.id}}">Delete</a>
                    <a href="#editcomment{{comment.id}}">Edit</a>
                    <a href="#sharecomment{{comment.id}}">Share</a>
                  </div><br>
                </div>
              <p id="confirmdeletecomment{{comment.id}}">
                <a style="margin-top: 5px;" href="{% url 'comment-delete' comment.id %}" class="btn btn-danger">
                  Confirm Delete
                </a>
                <a href="#" style="margin-left: 5px; margin-top: 5px;"  class="btn btn-primary">
                  Safe My Post
                </a>
              </p>
              <p id="sharecomment{{comment.id}}">
                <a class="btn btn-outline-info" href="{% url 'post-detail' comment.post.id %}#{{comment.id}}">Copy This</a>
                <a class="btn btn-outline-danger" href="#">Done</a>
              </p>
              <div id="editcomment{{comment.id}}">
                <form method="POST" action="{% url 'comment-edit' comment.id %}">
                  {% csrf_token %}
                  <textarea name="content" class="form-control" style="width: 100%; margin-bottom: 6px;" cols="10" rows="7" placeholder="Post Human!">{{ comment.content }}</textarea>
                  <button type="submit" class="btn btn-primary">
                    Publish
                  </button>
                  <a href="#" style="margin-left: 5px;"  class="btn btn-primary">
                    Cancel
                  </a>
                </form>
              </div>
              {% else %}
                <a style="width: 60px; height: 35%;" href="{% url 'add-comment-like' comment.id %}" class="btn btn-primary"><i class="fas fa-kiss-wink-heart"></i></a>
                <button class="btn btn-outline-info" style="margin: 5px;">{{comment.likescount}}</button>
                <a style="width: 60px; height: 35%;" href="{% url 'add-comment-dislike' comment.id %}" class="btn btn-danger"><i class="fas fa-hand-middle-finger"></i></a>
              {% endif %}
            </div>
          </div>  
        </div>
      {% endfor %}
    {% if post.comments.count == 0 %}
    <h2>Oooh Come Oon!, you have nothing to say at all?</h2>
    {% else %}
      {% if comments.has_previous %}
          <a href="?page={{comments.previous_page_number}}" class="btn btn-outline-info"><</a>
      {% endif %}
      <span class="btn btn-primary">{{comments.number}}</span>  
      {% if comments.has_next %}
          <a href="?page={{comments.next_page_number}}" class="btn btn-outline-info">></a>
      {% endif %}
    {% endif %}
    </center>
  </main>
{% endblock content %}