{% load mathfilters %}
{% for post in posts %}
<style type="text/css">
    #confirmdeletepost{{post.id}}:target 
    {
      display: block;
    }
    #confirmdeletepost{{post.id}} 
    {
     display: none;
    }
    #editpost{{post.id}}:target
    {
      display: block;
    }
    #editpost{{post.id}}
    {
      display: none;
    }
    #sharepost{{post.id}}:target
    {
      display: block;
    }
    #sharepost{{post.id}}
    {
      display: none;
    }
  </style>
            <div class="post shadow-lg" style="text-align: left;  margin: 0 auto; margin-bottom: 8px;">
                <div class="picture-containers">
                    <img class="profile-picture" src="{{ post.author.profile.image.url }}">
                </div>

                <div class="post-content">
                    <div class="post-info">
                        <div class="post-info1">
                            <a class="username" href="{% url 'profile' post.author %}">@{{ post.author }}</a>
                            <p class="date">{{ post.date_posted|date:"SHORT_DATE_FORMAT" }}</p>
                            <button class="btn btn-link"><a href="{% url 'report-post' post.id %}">Report</a></button>  
                        </div>
                    </div>

                    <a style="text-decoration: inherit; color: inherit;" href="{% url 'post-detail' post.pk %}">
                        <div class="post-text text-wrap text-break" style="width: 100%;">
                            <p>{{ post.content|truncatechars:150 }}</p>
                            {% if request.user == post.author %}
                            <button class="btn btn-primary">{{ post.likes.count|sub:post.dislikes.count }} Upvotes</button>
                              <div class="dropdown" style="margin-bottom: 6px;">
                                <button class="btn btn-outline-info">Actions</button>
                                <div class="dropdown-content">
                                  <a href="#confirmdeletepost{{post.id}}">Delete</a>
                                  <a href="#editpost{{post.id}}">Edit</a>
                                  <a href="#sharepost{{post.id}}">Share</a>
                                </div><br>
                              </div>
                              <p id="confirmdeletepost{{post.id}}">
                              <a style="margin-top: 5px;" href="{% url 'post-delete' post.id %}" class="btn btn-danger">
                                Confirm Delete
                              </a>
                              <a href="#" style="margin-left: 5px; margin-top: 5px;"  class="btn btn-primary">
                                Safe My Post
                              </a>
                            </p>
                            <p id="sharepost{{post.id}}">
                              <a class="btn btn-outline-info" href="{% url 'post-detail' post.id %}">Copy This</a>
                              <a class="btn btn-outline-danger" href="#">Done</a>
                            </p>
                            <div id="editpost{{post.id}}">
                              <form method="POST" action="{% url 'post-update' post.id %}">
                                {% csrf_token %}
                                <textarea name="content" class="form-control" style="width: 100%; margin-bottom: 6px;" cols="10" rows="7" placeholder="Post Human!">{{post.content}}</textarea>
                                <button type="submit" class="btn btn-primary">
                                  Publish
                                </button>
                                <a href="#" style="margin-left: 5px;"  class="btn btn-primary">
                                  Cancel
                                </a>
                              </form>
                            </div>
                
                          {% else %}
                              <a style="width: 60px; height: 35%;" href="{% url 'add-like' post.id %}" class="btn btn-primary"><i class="fas fa-kiss-wink-heart"></i></a>
                              <button class="btn btn-outline-info" style="margin: 5px;">{{ post.likes.count|sub:post.dislikes.count }}</button>
                              <a style="width: 60px; height: 35%;" href="{% url 'add-dislike' post.id %}" class="btn btn-danger"><i class="fas fa-hand-middle-finger"></i></a>
                          {% endif %}
                        </div>
                   </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <center>
    {% if postscount == 0 %}
    <h2>I'm So Lonely Right Now!! <i class="fas fa-sad-tear"></i>, Do Something Already, Damn it <i class="fas fa-angry"></i>.</h2>
    {% else %}
        {% if posts.has_previous %}
            <a href="?page={{posts.previous_page_number}}" class="btn btn-outline-info"><</a>
        {% endif %}
        {% if not posts.has_previous and not posts.has_next %}
        {% else %}
            <span class="btn btn-primary">{{posts.number}}</span>  
        {% endif %}
        
        {% if posts.has_next %}
            <a href="?page={{posts.next_page_number}}" class="btn btn-outline-info">></a>
        {% endif %}
    {% endif %}
    </center>