{% extends 'posts/base.html' %}
{% load post_extras %}
{% load static %}
{% block title %}Privalise!, Where Everything Is Awesome{% endblock title %}
{% block content %}

    <div class="container post-list">
		{% if request.user.profile.debosited == True %}
    	<center>
    		<button class="btn btn-primary" style="width: 100%; margin-bottom: 10px;" data-bs-toggle="modal" data-bs-target="#postcreatemodal">Create A Post &#9997;</button>
		</center>
		{% endif %}
		{% include 'posts/post.html' %}
{% endblock content %}