{% extends 'posts/base.html' %}
{% block title %}Search Posts And Users On Privalise!, Where Everything Is Awesome{% endblock title %}
{% block content %}
    <center><br>
        <form method="GET" action="{% url 'search-results' %}">
            <div class="input-group" style="margin: 0 auto;">
                <input type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username" name="query" value="{{ request.GET.query }}">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </center>
{% endblock %}