{% load static %}
<script src="{% static 'js/libraries/jsencrypt.min.js' %}"></script>
<form method="POST" name="keysform" action="{% url 'set-sharedkey' pubkey2.username %}">
    {% csrf_token %}
    <textarea name="sharedkey1" id="sharedkey1" style="display: none;"></textarea>
    <textarea name="sharedkey2" style="display: none;" id="sharedkey2"></textarea>
</form>
<script>
function generatePassword() {
    var length = 22,
        charset = "abcdefghijklmnopqrstuvwxyzAB!@#$^{}[]&():\"\'?<>CDEFGHIJKLMNOPQRSTUVWXYZ0123456789",
        retVal = "";
    for (var i = 0, n = charset.length; i < length; ++i) {
        retVal += charset.charAt(Math.floor(Math.random() * n));
    }
    return retVal;
}

shkeysa = generatePassword()
var key1 = new JSEncrypt();
key1.setPublicKey(`{{pubkey1}}`);
var enckey1 = key1.encrypt(shkeysa);

var key2 = new JSEncrypt();
key2.setPublicKey(`{{pubkey2.profile.publickey}}`);
var enckey2 = key2.encrypt(shkeysa);

console.log(enckey1);
console.log(enckey2);

document.getElementById('sharedkey1').value = enckey1;
document.getElementById('sharedkey2').value = enckey2;
document.keysform.submit();

</script>
