{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Edit Your Settings On Privalise!, Where Everything Is Awesome{% endblock title %}
{% block content %}
<br><br>
<main class="container-fluid content mx-auto">
  {% if messages %}
       {% for message in messages %}
          <div class="alert alert-{{ message.tags }} content">{{ message }}</div>
       {% endfor %}
    {% endif %}
    <div class='profile'>
      <div class="picture-container" style="border-radius: ;">
        <img class="profile-picture" src="{{ user.profile.image.url }}">
      </div>
      <h2 class='account-heading'>{{ user.username }}</h2>
      <h2 class='text-secondary'>{{ profile.name }}</h2>
      <p>{{ profile.bio }}</p>
    </div>
    <div class="mx-auto">
  <form method="POST" enctype='multipart/form-data' id='forms'>

    {% csrf_token %}

    <label for="basic-url" class="form-label">User Settings</label>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">Your Name</span>
      <input type="text" value="{{request.user.profile.name}}" class="form-control" name="name" placeholder="Your Name!" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3"><i class="fab fa-monero"></i></span>
      <input type="text" class="form-control" value="{{ request.user.profile.monero }}" name="monero" placeholder="Your Monero (XMR) Address" id="basic-url" aria-describedby="basic-addon3">
    </div>

    <small>Square Images Recomended</small>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupFile01"><i class="fas fa-portrait"></i></label>
      <input type="file" class="form-control" id="inputGroupFile01" name="image">
    </div>

    <div class="input-group">
      <span class="input-group-text"><i class="fas fa-info"></i></span>
      <textarea class="form-control" rows="10" aria-label="With textarea" name="bio" placeholder="Your bio">{{ request.user.profile.bio }}</textarea>
    </div>
    <br/>
    
    <label for="basic-url" class="form-label">Additional Settings</label>
    
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fas fa-comments"></i></span>
      <input type="text" name="xmppusername" value="{{ request.user.profile.xmppusername }}" class="form-control" placeholder="Your Xmpp Username" aria-label="Username">
      <span class="input-group-text">@</span>
      <input type="text" name="xmppserver" class="form-control" value="{{ request.user.profile.xmppserver }}" placeholder="Server.domain" aria-label="Server">
    </div>
    
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2"><i class="fas fa-fingerprint"></i></span>
      <input type="text" value="{{request.user.profile.fingerprint}}" class="form-control" name="fingerprint" placeholder="PGP Fingerprint" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>

    <div class="input-group">
      <span class="input-group-text"><i class="fab fa-keycdn"></i></span>
      <textarea class="form-control" cols="8" rows="12" aria-label="With textarea" name="public_key" placeholder="Your Public Key">{{ request.user.profile.public_key }}</textarea>
    </div>
    <br/>
    <center>
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </center>
  
  </form>       
</main>
{% endblock content %} 